.add-card-container{
    text-align: center;
    height: auto;
    position: flex;
    width: 30%;
    border: solid 2px rgb(136, 169, 218);
    border-radius: 10px;
    padding: 0 15%;
    margin: 50px auto;
    background: rgba(255, 255, 249, 0.671);
}
input{
    margin-bottom: 10px;
    width: 75%;
    margin: 8px auto;
}
.new-english{
    display: block;
}
.new-chinese-hanzi{
    display: block;
}
.new-chinese-pinyin{
    display: block;
}
.add-btn-cont{
    display: block;
    text-align: center;
    padding: 0 15%;
    margin: 10px 0px 10px 0px;
}
.add-card-button{  
    text-align: center;
    font-size: 1.0em;
    margin-bottom: 20px;
    border: none;
    /* outline: none; */
    width: 100px;
    height: 40px;
    color: white;
    box-shadow: 0px 4px #2c3e50;
    background: #34495e;
    border-radius: 10px;
}
.add-card-button:active{
    border: none;
    position:relative;
    top:3px;
    box-shadow: 0px 0px #2c3e50;
    background: #2c3e50;
  }