.card-container {
    cursor: pointer;
    height: 400px;
    width: 500px;
    perspective: 700px;
    position: relative;
    margin: auto;
    transition: ease-in;
  }
  
  .card {
    height: 400px;
    width: 500px;
    margin: auto;
    position: absolute;
    border: 1px solid #300;
    transform-style: preserve-3d;
    transition: all 0.4s ease-in-out;
  }
  
  .card:hover {
    transform: rotateY(180deg);
    transition: all 0.4s ease-in-out;
  }
  
  .card .front {
    height: 400px;
    width: 500px;
    backface-visibility: hidden;
    position: absolute;
    overflow: hidden;
    text-align: center;
    background-color: rgb(253, 253, 231);
  }
  
  .card .back {
    height: 400px;
    width: 500px;
    text-align: center;
    transform: rotateY(180deg);
    background-color: rgb(253, 253, 231);
  }
  
  .english{
    color: #333;
    font-size: 3.0em;
    padding-top: 30%;
  }
  
  .chinese-hanzi{
    color: #333;
    font-size: 7.0em;
    padding-top: 20%;
  }
  
  .chinese-pinyin{
    color: rgba(200, 10, 10, 1);
    font-size: 3.0em;
    padding-top: 10%;
  }