body{
  background: 
  linear-gradient(-45deg, rgba(0,0,0,0.3), rgba(0, 40, 105, 0.8)),
  url('./Static/img/main-wallpaper.jpg');
  background-attachment: fixed;
  background-size: cover; 
}
.mainHeaderRow{
  display: flex;
  flex: 1 1 5%;
  min-height: 1.5em;
  max-height: 2.0em;
  font-size: 3.2em;
  color: rgb(255, 239, 97);
  font-family: 'Oswald', sans-serif;
  text-align: center;
  align-content: center;
  padding: 15px 0px 15px 0px;
  /* margin-bottom: 6px; */
  /* background:  rgba(255, 0, 0, 0.267); */
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  display: block;
}
.cardRow{
  margin: auto;
  padding: 5px;
}

.buttonRow{
  padding: 5px;
}